body {
    font-size: 14px;
    color: #222;
    font-family: arial,sans-serif;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .40fr 1fr 1fr; 
    grid-template-areas:    
        "left-header . right-header"
        ". content ."
        "advert . ."
        "footer footer footer"
}



.left-nav {
    padding: 25px 25px 25px;
    grid-area: left-header;
    align-self: start;
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;

}
.right-nav {
    padding: 25px 25px 25px;
    padding: 25px 25px 25px;
    align-self: start;
    grid-area: right-header;
    justify-items: end;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

#logo{
    margin-bottom: 2em;
}

.main-search {
    grid-area: content;
    display: grid;
    align-items: center;
    justify-items: center;
}

.search-box {
    border: 1px solid #ccc;
    width: 35em;
    /* border: 4px blue solid; */
    border-radius: 20px;
    display: grid;
    grid-template-columns: 10% 85%;
    height: 35px;
    
}

.search-buttons{
    align-items: center;
}

button{
    margin: 2em 2em 2em 2em;
    padding: .5em 1em .5em 1em;
    background-color: white;
    border-color: white;
    border: 1px solid white;    
    border-radius: 5px;
    font-size:14px;

    
}

button:hover{
    border-color: #ccc;
}
.search-input {
    /* border: 4px blue solid; */
    border: 0px;
    width: 100%;
    font-size: 14px;
    
    justify-self: flex-start; 
}

#search-icon {
    /* border: 4px blue solid; */
    align-self: center; 
    /* display: inline-block; width: 32px; */
    padding-left: 10px;
    
    justify-self: flex-start;
}

input {
    justify-self:  center;
    font-size: 20px;
    /* border: 4px red solid; */
}

.country {
    padding: 25px 25px 25px;
    grid-area: advert;
    align-self: end;
}

.material-icons.md-14 { font-size: 20px; 
padding-left: 5px;}

.footer {
    /* background-color: rgb(218, 220, 224); */
    /* border: 2px red solid; */
    
    background-color: rgba(0,0,0,.02);
    border-top: 1px solid #dadce0;
    grid-area: footer;
    align-self: end;
    display: grid;
    padding: 10px 30px 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "link1 link1"
                        "link2 link3";
    position: fixed;
    bottom: 0px;
    width: 100%;
    
}

.footer-a{
    /* border: 2px red solid; */
    
    grid-area: link1;
    /* display: grid; */
    align-items: center;

}
.footer-b{
    grid-area: link2;
    /* border: 2px red solid; */
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0px, 30%));
    justify-items: center;
    /* grid-auto-flow: row dense; */
    align-items: center;
    

}
.footer-c{
    /* border: 2px red solid; */
    grid-area:link3;
    
    grid-template-columns: repeat(auto-fill, minmax(60px, 30%));
    
    display: grid;
    justify-items: center;
    align-items: center;
}
    

#profile-photo{
    border-radius: 50%;
    height: 2em;

}